## 测试详细输出内容

> Github 预览会过滤颜色

<p class="MsoNormal" align="left" style="text-align:left;mso-pagination:widow-orphan;
background:#0C0C0C"><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">PS D:\LUAO\Desktop\image_hosting&gt; </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#F9F1A5;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">node
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">run_tests.cjs</span><span lang="EN-US" style="font-size:
12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;
mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">Running test:
D:\LUAO\Desktop\image_hosting\src\test\base.test.ts</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#0C0C0C;background:#61D6D6;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span>RUN </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span></span><span lang="EN-US" style="font-size:
12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#3A96DD;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">v3.0.2 </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#767676;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">D:/LUAO/Desktop/image_hosting</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">src/test/base.test.ts
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">(1 test)</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#767676;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"> 3</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#3B3B3B;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">S3ImageHosting
init</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should create an
instance with the provided settings</span><span lang="EN-US" style="font-size:
12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;
mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span>Test Files </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span></span><span lang="EN-US" style="font-size:
12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#16C60C;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">1 passed</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#767676;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
(1)</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:
0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Tests </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span></span><span lang="EN-US" style="font-size:
12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#16C60C;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">1 passed</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#767676;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
(1)</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:
0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp;
</span>Start at </span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span>16:55:24</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp;
</span>Duration </span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span>1.98s</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#666666;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"> (transform
235ms, setup 0ms, collect 1.12s, tests 3ms, environment 0ms, prepare 297ms)</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">Running test:
D:\LUAO\Desktop\image_hosting\src\test\uploadDelete.test.ts</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#0C0C0C;background:#61D6D6;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span>RUN </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span></span><span lang="EN-US" style="font-size:
12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#3A96DD;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">v3.0.2 </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#767676;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">D:/LUAO/Desktop/image_hosting</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#767676;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">stdout</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#3B3B3B;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"> |
src/test/uploadDelete.test.ts &gt; isExist &gt; isExist should be false</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">isExist result:<span style="mso-spacerun:yes">&nbsp;
</span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">false</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;mso-color-alt:
windowtext;mso-font-kerning:0pt;mso-ligatures:none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">src/test/uploadDelete.test.ts
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">(4 tests)</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#C19C00;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"> 2190</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
Upload Image</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should upload an
image </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">867</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#604E00;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">isExist</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#666666;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
&gt; </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">isExist should be true</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
Delete Image</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should delete an
image </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">699</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#604E00;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
isExist</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">isExist should be
false </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">562</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#604E00;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span>Test Files </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span></span><span lang="EN-US" style="font-size:
12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#16C60C;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">1 passed</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#767676;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
(1)</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:
0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Tests </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span></span><span lang="EN-US" style="font-size:
12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#16C60C;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">4 passed</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#767676;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
(4)</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:
0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp;
</span>Start at </span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span>16:55:29</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp;
</span>Duration </span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span>4.05s</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#666666;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"> (transform
216ms, setup 0ms, collect 1.08s, tests 2.19s, environment 0ms, prepare 321ms)</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">Running test:
D:\LUAO\Desktop\image_hosting\src\test\album.test.ts</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#0C0C0C;background:#61D6D6;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span>RUN </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span></span><span lang="EN-US" style="font-size:
12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#3A96DD;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">v3.0.2 </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#767676;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">D:/LUAO/Desktop/image_hosting</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#767676;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">stdout</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#3B3B3B;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"> |
src/test/album.test.ts &gt; list images by album &gt; page num should be</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">result:<span style="mso-spacerun:yes">&nbsp; </span>{</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>page: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">1</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>pageSize: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">2</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>lastPage: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">true</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>data: [ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">'6aa4c9d0174acdab'</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">, </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">'333b237c05b5cc20'
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">]</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;mso-color-alt:
windowtext;mso-font-kerning:0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">}</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;mso-color-alt:
windowtext;mso-font-kerning:0pt;mso-ligatures:none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#767676;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">stdout</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#3B3B3B;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"> |
src/test/album.test.ts &gt; list images by album &gt; page num should be</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">result:<span style="mso-spacerun:yes">&nbsp; </span>{</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>page: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">2</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>pageSize: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">2</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>lastPage: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">true</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>data: [ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">'4070ea8c0bd0f03a'</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">, </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">'710dfeeb6017c995'
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">]</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;mso-color-alt:
windowtext;mso-font-kerning:0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">}</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;mso-color-alt:
windowtext;mso-font-kerning:0pt;mso-ligatures:none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#767676;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">stdout</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#3B3B3B;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"> |
src/test/album.test.ts &gt; list images by album &gt; page num should be</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">result:<span style="mso-spacerun:yes">&nbsp; </span>{</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>page: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">3</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>pageSize: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">2</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>lastPage: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">true</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>data: [ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">'786deda1ce54058b'</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">, </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">'a4176e575f0da099'
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">]</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;mso-color-alt:
windowtext;mso-font-kerning:0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">}</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;mso-color-alt:
windowtext;mso-font-kerning:0pt;mso-ligatures:none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#767676;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">stdout</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#3B3B3B;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"> |
src/test/album.test.ts &gt; list images by album &gt; page num should be</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">result:<span style="mso-spacerun:yes">&nbsp; </span>{</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>page: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">4</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>pageSize: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">2</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>lastPage: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">false</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>data: [ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">'c9ee7d33a75118be'</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">, </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">'e0c555bf36817ed1'
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">]</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;mso-color-alt:
windowtext;mso-font-kerning:0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">}</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;mso-color-alt:
windowtext;mso-font-kerning:0pt;mso-ligatures:none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">src/test/album.test.ts
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">(15 tests)</span><span lang="EN-US" style="font-size:
12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#C19C00;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"> 22023</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
Add album logo</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should be ['logo'] </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">489</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">Get
all album names</span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should
be ['logo']</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:
0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
upload image to album</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#666666;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should
upload an image </span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none">715</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">isExist</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#666666;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
&gt; </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">isExist should be true</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
Delete Image</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should delete an
image </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">1432</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#604E00;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
isExist</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">isExist should be
false </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">1560</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#604E00;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
Delete album</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should delete an
album logo </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">525</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#604E00;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">Get
all album names</span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should
be []</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:
0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">Add
album emoticon</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should be
['emoticon']</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:
0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
upload image</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should upload an
image </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">5241</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#604E00;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"> add
images to album</span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should
add 8 images to album </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#C19C00;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">1610</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
list images by album</span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">page
num should be<span style="mso-spacerun:yes">&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">2154</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
remove all images</span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should
delete 8 images </span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none">7193</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
Delete album</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should delete an
album emoticon </span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none">557</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">Get
all album names</span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should
be []</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:
0pt;mso-ligatures:none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span>Test Files </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span></span><span lang="EN-US" style="font-size:
12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#16C60C;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">1 passed</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#767676;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
(1)</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:
0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Tests </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span></span><span lang="EN-US" style="font-size:
12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#16C60C;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">15 passed</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#767676;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
(15)</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:
0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp;
</span>Start at </span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span>16:55:37</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp;
</span>Duration </span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span>23.91s</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#666666;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"> (transform
209ms, setup 0ms, collect 1.07s, tests 22.02s, environment 0ms, prepare 332ms)</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">Running test:
D:\LUAO\Desktop\image_hosting\src\test\tag.test.ts</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#0C0C0C;background:#61D6D6;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span>RUN </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span></span><span lang="EN-US" style="font-size:
12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#3A96DD;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">v3.0.2 </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#767676;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">D:/LUAO/Desktop/image_hosting</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#767676;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">stdout</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#3B3B3B;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"> |
src/test/tag.test.ts &gt; list images by tag &gt; page num should be</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">result:<span style="mso-spacerun:yes">&nbsp; </span>{</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>page: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">1</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>pageSize: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">2</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>lastPage: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">true</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>data: [ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">'6aa4c9d0174acdab'</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">, </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">'333b237c05b5cc20'
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">]</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;mso-color-alt:
windowtext;mso-font-kerning:0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">}</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;mso-color-alt:
windowtext;mso-font-kerning:0pt;mso-ligatures:none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#767676;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">stdout</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#3B3B3B;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"> |
src/test/tag.test.ts &gt; list images by tag &gt; page num should be</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">result:<span style="mso-spacerun:yes">&nbsp; </span>{</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>page: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">2</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>pageSize: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">2</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>lastPage: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">true</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>data: [ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">'4070ea8c0bd0f03a'</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">, </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">'710dfeeb6017c995'
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">]</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;mso-color-alt:
windowtext;mso-font-kerning:0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">}</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;mso-color-alt:
windowtext;mso-font-kerning:0pt;mso-ligatures:none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#767676;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">stdout</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#3B3B3B;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"> |
src/test/tag.test.ts &gt; list images by tag &gt; page num should be</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">result:<span style="mso-spacerun:yes">&nbsp; </span>{</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>page: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">3</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>pageSize: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">2</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>lastPage: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">true</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>data: [ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">'786deda1ce54058b'</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">, </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">'a4176e575f0da099'
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">]</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;mso-color-alt:
windowtext;mso-font-kerning:0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">}</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;mso-color-alt:
windowtext;mso-font-kerning:0pt;mso-ligatures:none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#767676;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">stdout</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#3B3B3B;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"> |
src/test/tag.test.ts &gt; list images by tag &gt; page num should be</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">result:<span style="mso-spacerun:yes">&nbsp; </span>{</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>page: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">4</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>pageSize: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">2</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>lastPage: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">false</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>data: [ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">'c9ee7d33a75118be'</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">, </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">'e0c555bf36817ed1'
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">]</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;mso-color-alt:
windowtext;mso-font-kerning:0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">}</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;mso-color-alt:
windowtext;mso-font-kerning:0pt;mso-ligatures:none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">src/test/tag.test.ts
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">(15 tests)</span><span lang="EN-US" style="font-size:
12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#C19C00;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"> 21627</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
Add tag logo</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should be ['logo'] </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">575</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">Get
all tag names</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should be ['logo']</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
upload image to tag</span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should
upload an image </span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none">897</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">isExist</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#666666;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
&gt; </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">isExist should be true</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
Delete Image</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should delete an
image </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">1258</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#604E00;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
isExist</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">isExist should be
false </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">1573</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#604E00;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"> Delete
tag</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should delete an
tag logo </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">556</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#604E00;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">Get
all tag names</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should be []</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">Add
tag emoticon</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should be
['emoticon']</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:
0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
upload image</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should upload an
image </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">4469</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#604E00;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
add images to tag</span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should
add 8 images to tag </span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none">1984</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
list images by tag</span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">page
num should be<span style="mso-spacerun:yes">&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">2195</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
remove all images</span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should
delete 8 images </span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none">7004</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
Delete tag</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should delete an
tag emoticon </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">550</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#604E00;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">Get
all tag names</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should be []</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span>Test Files </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span></span><span lang="EN-US" style="font-size:
12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#16C60C;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">1 passed</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#767676;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
(1)</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:
0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Tests </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span></span><span lang="EN-US" style="font-size:
12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#16C60C;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">15 passed</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#767676;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
(15)</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:
0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp;
</span>Start at </span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span>16:56:04</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp;
</span>Duration </span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span>23.42s</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#666666;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
(transform 208ms, setup 0ms, collect 1.06s, tests 21.63s, environment 0ms,
prepare 263ms)</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:
0pt;mso-ligatures:none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">Running test:
D:\LUAO\Desktop\image_hosting\src\test\metadata.test.ts</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#0C0C0C;background:#61D6D6;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span>RUN </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span></span><span lang="EN-US" style="font-size:
12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#3A96DD;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">v3.0.2 </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#767676;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">D:/LUAO/Desktop/image_hosting</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#767676;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">stdout</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#3B3B3B;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"> |
src/test/metadata.test.ts &gt; Upload Image &gt; should upload an image</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">Upload image result:<span style="mso-spacerun:yes">&nbsp; </span>{</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>success: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">true</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>metadata:
Metadata {</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:
0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;
</span>album: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">'logo'</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;
</span>tags: [ </span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#13A10E;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none">'tag1'</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">, </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">'tag2'
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">],</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;mso-color-alt:
windowtext;mso-font-kerning:0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;
</span>createdAt: </span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#881798;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none">2025-01-20T08:56:34.230Z</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;
</span>updatedAt: </span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#881798;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none">2025-01-20T08:56:34.230Z</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>},</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>hash: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">'94e2635af500225d'</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">}</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;mso-color-alt:
windowtext;mso-font-kerning:0pt;mso-ligatures:none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#767676;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">stdout</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#3B3B3B;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"> |
src/test/metadata.test.ts &gt; verify metadata &gt; should be true</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">metadata:<span style="mso-spacerun:yes">&nbsp; </span>Metadata
{</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:
0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>album: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">'logo'</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>tags: [ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">'tag1'</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">, </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">'tag2'
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">],</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;mso-color-alt:
windowtext;mso-font-kerning:0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>createdAt:
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#881798;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">2025-01-20T08:56:34.230Z</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>updatedAt:
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#881798;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">2025-01-20T08:56:34.230Z</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">}</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;mso-color-alt:
windowtext;mso-font-kerning:0pt;mso-ligatures:none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#767676;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">stdout</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#3B3B3B;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"> |
src/test/metadata.test.ts &gt; verify metadata &gt; should be true</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">metadata:<span style="mso-spacerun:yes">&nbsp;
</span>Metadata {</span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;mso-color-alt:windowtext;
mso-font-kerning:0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>album: </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">''</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>tags: [ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">'tag2'
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">],</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;mso-color-alt:
windowtext;mso-font-kerning:0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>createdAt:
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#881798;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">2025-01-20T08:56:34.230Z</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">,</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp; </span>updatedAt:
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#881798;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">2025-01-20T08:56:34.230Z</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">}</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:white;mso-color-alt:
windowtext;mso-font-kerning:0pt;mso-ligatures:none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">src/test/metadata.test.ts
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">(10 tests)</span><span lang="EN-US" style="font-size:
12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#C19C00;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"> 9344</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
Add album logo</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should be ['logo'] </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">780</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
Add tag tag1, tag2</span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should
be ['logo', 'tag2'] </span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none">594</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
Upload Image</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should upload an
image </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">1654</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#604E00;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#13A10E;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓ </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">isExist</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#666666;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
&gt; </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">isExist should be true</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
verify metadata</span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should
be true </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">729</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#604E00;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
Delete album and tag1</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#666666;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should
be true </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">1291</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#604E00;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
verify metadata</span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should
be true </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">636</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#604E00;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
Delete tag2</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should be true </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">1092</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
Delete Image</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">should delete an
image </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">906</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#604E00;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp; </span></span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#604E00;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">✓</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
isExist</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"> &gt; </span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">isExist should be
false </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#C19C00;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">1587</span><span lang="EN-US" style="font-size:12.0pt;
font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#604E00;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">ms</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span>Test Files </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span></span><span lang="EN-US" style="font-size:
12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#16C60C;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">1 passed</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#767676;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
(1)</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:
0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Tests </span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span></span><span lang="EN-US" style="font-size:
12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#16C60C;
background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">10 passed</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#767676;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
(10)</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:
0pt;mso-ligatures:none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp;
</span>Start at </span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span>16:56:30</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:0pt;mso-ligatures:
none"><br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#666666;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;&nbsp;
</span>Duration </span><span lang="EN-US" style="font-size:12.0pt;font-family:
&quot;Cascadia Mono&quot;;mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;
mso-font-kerning:0pt;mso-ligatures:none"><span style="mso-spacerun:yes">&nbsp;</span>11.15s</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;color:#666666;background:#0C0C0C;mso-font-kerning:0pt;mso-ligatures:none">
(transform 223ms, setup 0ms, collect 1.09s, tests 9.34s, environment 0ms,
prepare 275ms)</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:white;mso-color-alt:windowtext;mso-font-kerning:
0pt;mso-ligatures:none"><br>
<br>
</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;
mso-fareast-font-family:宋体;color:#CCCCCC;background:#0C0C0C;mso-font-kerning:
0pt;mso-ligatures:none">PS D:\LUAO\Desktop\image_hosting&gt;</span><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cascadia Mono&quot;;mso-fareast-font-family:
宋体;mso-font-kerning:0pt;mso-ligatures:none"><o:p></o:p></span></p>